{
  "openapi": "3.0.1",
  "info": {
    "title": "ElTariffKatalog",
    "version": "v0.4"
  },
  "servers": [
    {
      "url": "https://eltariff.deplide.org",
      "description": "Sandbox catalogue"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local developer instance"
    }
  ],
  "paths": {
    "/tariffcatalogue/register": {
      "description": "Update API info for a range of MPIDs. The format of the intro is based on https://github.com/3lbits/API-nettleie-for-styring/blob/main/doc/DiginGridTariffAPI.gridcompany-mapping.json with the addition of an ID field",
      "put": {
        "tags": [
          "register-service"
        ],
        "operationId": "updateSupplierAPIInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Register API info for a range of MPIDs. The format of the intro is based on https://github.com/3lbits/API-nettleie-for-styring/blob/main/doc/DiginGridTariffAPI.gridcompany-mapping.json with the addition of an ID field",
        "tags": [
          "register-service"
        ],
        "operationId": "createSupplierAPIInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tariffcatalogue/lookup": {
      "post": {
        "description": "Look up API connection info for any number of MPIDs",
        "tags": [
          "supplier-service"
        ],
        "operationId": "getSuppliers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/SupplierEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tariffcatalogue/lookup/{mpid}": {
      "get": {
        "description": "Lookup API connection info for a single MPID. Please be aware that the response can contain more than one API connection entry.",
        "tags": [
          "supplier-service"
        ],
        "operationId": "getSuppliers_1",
        "parameters": [
          {
            "name": "mpid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupplierEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tariffcatalogue/register/{supplierEntryId}": {
      "delete": {
        "description": "Delete API info for a range of MPIDs. supplierEntryId is a UUID corresponding to the 'id' field in a previously registered entry",
        "tags": [
          "register-service"
        ],
        "operationId": "deleteSupplierAPIInfo",
        "parameters": [
          {
            "name": "supplierEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SupplierEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "meteringPointIdFrom": {
            "$ref": "#/components/schemas/MeteringPointID"
          },
          "meteringPointIdTo": {
            "$ref": "#/components/schemas/MeteringPointID"
          },
          "companyName": {
            "type": "string"
          },
          "companyOrgNo": {
            "type": "string"
          },
          "apiUrl": {
            "type": "string"
          },
          "userDocUrlOrEmail": {
            "type": "string"
          }
        }
      },
      "MeteringPointID": {
        "type": "string",
        "pattern": "^[0-9]{18}$"
      }
    }
  }
}
